<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>
<div class="main">
<div class="container listing_container">
  <div class="listing_top app_area">
    <div class="listing_show_cover_image app_area">
      <p>Cover image</p>
    </div>
    <div class="listing_show_basic_info app_area">
      <p>Basic info</p>
      <div class="listing_show_name app_area">
        <p>Name</p>
        <a href="/listing/<%= listing.id %>">              
          <h2>
            <%= listing.number %>
          </h2>        
        </a> 
        id: <%= listing.id%>            
      </div>
      <div class="listing_show_details"> 
        
      </div>              
    </div>
    <div class="listing_show_buttons app_area">
      <p>Buttons</p>
      <div class="heart">
          <i class="heart outline icon"></i>
      </div>  
      <form action="" method="">
        <!-- <input type="hidden" value="DELETE" name="_method"> -->
        <input type="button" value="Request Showing"">
      </form>
      <form action="/listing/<%= listing.id %>" method="POST">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="Delete"">
      </form>
      <a href="/listing/<%= listing.id %>/edit">Edit</a>       
    </div>
  
           
  </div>

  </div>
  <div class="listing_show_info app_area">
    <p>Info</p>
    <div class="listing_show_ratings app_area">
      <p>Ratings</p>
      <div class="scoring app_area">
        <p>Scoring</p>
        <div class="overall_score app_area">
          <p>Listing scoring overall</p>
        </div>
        <div class="score_up_and_down app_area">
          <div class="score_up_and_down_item app_area">
            <div class="thumbs_up app_area">
              <i class="thumbs up icon outline icon"></i>
            </div>
            <div class="score_items score_up_items app_area">
              <ul>
                <div class="score_item">
                  <p>Listing score up item</p>
                </div>
              </ul>
            </div>
          </div>  
          <div class="score_up_and_down_item app_area">
            <div class="thumbs_down app_area">
              <i class="thumbs down icon outline icon"></i>
            </div>
            <div class="score_items score_down_items app_area">
              <ul>
                <div class="score_item">
                  <p>Listing score up item</p>
                </div>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
    <div class="listing_show_financials app_area">
      <p>Financials</p>
      <div>
        <h4>Transaction</h4>
      </div> 
      <div class="offer_price">
        <p>Offer</p>
      </div>
      <div class="down_payment">
        <p>Down Payment</p>
      </div>
      <div class="mortgage_insurance">
        <p>Mortgage Insurance</p>
      </div>
      <div class="strata_fees">
        <p>Strata Fees</p>
      </div> 
    </div>
  </div>

  <div class="strata_show_images images app_area">
    <p>Images</p>

    <div class="ui small images list_of_items_row app_area">
      <img src="/images/wireframe/image.png">
      <img src="/images/wireframe/image.png">
      <img src="/images/wireframe/image.png">
      <img src="/images/wireframe/image.png">
    </div>

  </div>
</div>
</div>
<%- include("../partials/footer") %>





