<%- include("../partials/header") %>

<div class="container">
  <div class="strata_index_heading app_area">

    <div class="strata_index_heading_left app_area">
      <div class="strata_index_heading_icons app_area">
        <p>Icons</p>
      </div>      
      <div class="strata_index_heading_message app_area">
        <p>Messages</p>
      </div>
    </div>
    <div class="strata_index_heading_right app_area">
      <div class="strata_index_heading_menu app_area">
        <p>Menu icon</p>
      </div>
    </div>    
  </div>
  
  <div class="strata_listings app_area">
    <ul>
      <% for (let strata_corporation of strata_corporations) { %>
        <li>
          <div class="strata_listing app_area">
            <div class="strata_listing_left">
              <div class="strata_listing_cover_image app_area">
                <img src="<%= strata_corporation.image_url%>" alt="Strata photo" height="120" width="120">
              </div>
              <div class="strata_listing_data app_area">
                <div class="strata_listing_name app_area">
                  <a href="/stratas/<%= strata_corporation.id %>">              
                    <div>
                      <h2><%= strata_corporation.name%></h2>
                      
                      plan#: <%= strata_corporation.strata_plan_number %>
                      id: <%= strata_corporation.id%>                          
                    </div>
                  </a> 
                </div>
                <div class="details_listing app_area"> 
                  <ul>
                    <li>
                      <div class="detail_item">
                        <div class="detail_item_icon app_area">
                          <i class="far fa-building"></i>
                        </div>
                        <div class="detail_item_description app_area">
                          <p>Construction type</p>
                        </div>
                      </div>
                      <div class="detail_item">
                        <div class="detail_item_icon app_area">
                          <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="detail_item_description app_area">
                          <p>Location area</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  
                </div>              
              </div>              
              
            </div>

            

            <div class="strata_listing_right app_area">
              <div class="scoring app_area">
                <p>Scoring</p>
                <div class="overall_score app_area">
                  <p>Listing scoring overall</p>
                </div>
                <div class="score_up_and_down app_area">
                  <div class="score_up_and_down_item app_area">
                    <div class="thumbs_up app_area">
                      <i class="thumbs up icon outline icon"></i>
                    </div>
                    <div class="score_items score_up_items app_area">
                      <ul>
                        <div class="score_item">
                          <p>Listing score up item</p>
                        </div>
                      </ul>
                    </div>
                  </div>  
                  <div class="score_up_and_down_item app_area">
                    <div class="thumbs_down app_area">
                      <i class="thumbs down icon outline icon"></i>
                    </div>
                    <div class="score_items score_down_items app_area">
                      <ul>
                        <div class="score_item">
                          <p>Listing score up item</p>
                        </div>
                      </ul>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="heart app_area">
                <i class="heart outline icon"></i>
              </div>  
            </div>
          </div>
  
                
                
          <!-- </div> -->
                      
            <!-- <%# if (cluck.image_url && cluck.image_url.length > 0) { %>
              <div class="cluckImage">
                <img src=<%#= cluck.image_url %> alt="Cluck image">
              </div>                      -->
            <!-- <%# } %>                -->
          <!-- </div> -->
          <!-- </div> -->
        </li>
    
      <% } %>
    </ul>
  </div>

      
        <!-- <div>
          <form action="/clucks/new" method="POST" class="inputForm">
            <label for="content" class="label">Content</label>
            <input type="text" name="content" class="input"  placeholder="Whatchoo cluckin' 'bout?'"></input>
            <label for="imageUrl" class="label">Image URL</label>
            <input type="text" name="imageUrl" class="input"  placeholder="https://i.imgur.com/qM6AGGG99"></input>
            <input type="submit" value="Cluck!" class="btn btn-primary submitButton">
          </form>
        </div> -->
</div>

    
<%- include("../partials/footer") %>