<%- include("../partials/header") %>

<div class="container">
  <div class="heading">

  </div>
  <div class="strata_listings">
      <ul>
          <% for (let strata_corporation of strata_corporations) { %>
            <!-- <% debugger %> -->
            <!-- <a> -->
              <li>
                <div class="strata_listing">
                  <div>
                    <img src="<%= strata_corporation.image_url%>" alt="Strata photo" height="120" width="120">
                  </div>
                  <div>
                    <a href="/stratas/<%= strata_corporation.id %>">              
                      <div>
                        <%= strata_corporation.name%>
                      </div>
                    </a>  
                    <div class="strata_listing_details">
                      <div>
                        id: <%= strata_corporation.id%>
                        title: <%= strata_corporation.title_to_land%>
                        plan#: <%= strata_corporation.strata_plan_number %>
                      </div>    
                      <div class="heart">
                          <i class="heart outline icon"></i>
                      </div>              
                    </div>              
                  </div>
                </div>
        
                     
                      
                <!-- </div> -->
                            
                  <!-- <%# if (cluck.image_url && cluck.image_url.length > 0) { %>
                    <div class="cluckImage">
                      <img src=<%#= cluck.image_url %> alt="Cluck image">
                    </div>                      -->
                  <!-- <%# } %>                -->
                <!-- </div> -->
                <!-- </div> -->
              </li>
        
          <% } %>
    </ul>
  </div>

      
        <!-- <div>
          <form action="/clucks/new" method="POST" class="inputForm">
            <label for="content" class="label">Content</label>
            <input type="text" name="content" class="input"  placeholder="Whatchoo cluckin' 'bout?'"></input>
            <label for="imageUrl" class="label">Image URL</label>
            <input type="text" name="imageUrl" class="input"  placeholder="https://i.imgur.com/qM6AGGG99"></input>
            <input type="submit" value="Cluck!" class="btn btn-primary submitButton">
          </form>
        </div> -->
</div>

    
<%- include("../partials/footer") %>