
<%- include("../partials/header") %>

  <div class="container">

    <h2>
      <%= strata_corporation.name %> <span> <%= strata_corporation.strata_plan_number %> </span>
    </h2>
    <div class="buttons">
      <form action="/stratas/<%= strata_corporation.id %>" method="POST">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="Delete"">
      </form>
      <a href="/stratas/<%= strata_corporation.id %>/edit">Edit</a>       
    </div>
  </div>

<%- include("../partials/footer") %>